/* variables */
:root {
  --black: #000000;
  --white: #ffffff;
  --grey: #8c8c8c;
  --light-grey: #F6F6F6;
  --dark-grey: #616161;
  --co2: #906C0D;
  --data: #4F6D70;
  --activeBackground: var(--light-grey);
  --activeColor: var(--black);
}

.activeButton {
  --activeBackground: var(--dark-grey);
  --activeColor: var(--white);
}