body {
  background-color: #f8f8f8;
  margin: 0px;
}
body::-webkit-scrollbar {
  display: none; /* webkit: disable scrollbar */
}

dialog {
  max-width: 350px;
  border-radius: 10px;
  border-width: 1px;
}

dialog menu {
  text-align: right;
}

.container {
  background-color: white;
  position: relative;
  width: 500px;
  height: 600px;
  margin: auto;
  overflow: hidden
}

canvas {
  display: block;
  margin: 0 auto;
  z-index: 0;
}

button {
  background: none;
  color:black;
  border: none;
  font-size: 12px;
  font-weight: 700;
  cursor: pointer;
}

.hidden {
  display: none !important;
}

.icon.up svg,
.icon.down svg {
  fill: none;
  stroke: #000
}

.icon.up svg .arrow,
.icon.down svg .arrow {
  fill: black;
  stroke: #000
}

.icon.up:hover svg,
.icon.down:hover svg {
  fill: none;
  stroke: #888
}

.icon.up:hover svg .arrow,
.icon.down:hover svg .arrow{
  fill: #888;
  stroke: #888
}


.icon.flux svg {
  fill: #bfbfbf;
}

.navigation-box:hover .icon.flux svg {
  fill: #000;
}

.navigation-box.selected .icon.flux svg {
  fill: #000;
}

.icon.co2 svg,
.icon.data svg{
  stroke: #bfbfbf;
  fill: none;
}

.navigation-box:hover .icon.co2 svg,
.navigation-box:hover .icon.data svg{
  stroke: #888;
  fill: none;
}

.navigation-box.selected .icon.co2 svg,
.navigation-box.selected .icon.data svg{
  stroke: #000;
  fill: none;
}

.navigation {
  width: 59px;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 100;
}

.navigation-up {
  position: absolute;
  top: 14px;
  left: 19px;
  cursor: pointer;
}

.navigation-down {
  position: absolute;
  bottom: 14px;
  left: 19px;
  cursor: pointer;
}

.navigation {
  background-color: transparent;
}

.navigation-boxes {
  background-color: #f8f8f8;
  padding-right: 8px;
}

.navigation-box {
  height: 49px;
  color: #bfbfbf;
  font-size: 10px;
  font-weight: 700;
  vertical-align: middle;
  display: flex;
  margin-left: 8px;
  cursor: pointer;
}

.navigation-box.middle {
  border-top: solid 1px black;
  border-bottom: solid 1px black;
}

.navigation-box:hover {
  color: #888;
}

.navigation-box.selected {
  color: #000;
}

.navigation-box .icon {
  padding-right: 7px;
  align-self: center;
}

.navigation-box .icon.data {
  padding-right: 4px;
}

.navigation-box .title {
  align-self: center;
  padding-bottom: 2px;
}

.animation {
  width: 500px;
}

.menu {
  width: 121px;
  background-color: #f8f8f8;
  position: absolute;
  top: 60px;
  bottom: 60px;
  right: 0px;
}


.menu .header {
  display: flex;
  flex-direction: column;
  color: #020202;
  font-weight: 700;
  font-size: 12px;
  margin-left: 12px;
}

.menu .header .title {
  align-self: start;
  height: 20px;
  margin-bottom: 4px;
}

.menu .header .header-separator {
  align-self: center;
  margin: 0px;
  width: 71px;
  border-top: solid 1px black;
}


.menu .options {
 margin-top: 20px;
 font-size: 10px;
 font-weight: 700;
}

.menu .options .option{
  display: flex;
  flex-direction: row;
  margin-left: 11px;
  margin-top: 10px;
  cursor: pointer;
}

.menu .options .option .title{
  margin-left: 4px;;
}


.menu .options .option.active{
  color: #000;
  fill: #000;
  stroke: #000;
}

.menu .options .option.inactive{
  color: #bfbfbf;
  fill: #bfbfbf;
  stroke: #bfbfbf;
}

.menu .options .option:hover{
  color: #888;
  fill: #888;
  stroke: #888;
}

.menu .info {
  position: absolute;
  top: 190px;
  height: 100px;
  width: 100%;
  font-size: 10px;
}

.info .packet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #c1c1c1;
  margin-bottom: 21px;
  padding-top: 0px;
  padding-left: 15px;
  padding-bottom: 7px;
}

.info .packet .subheader {
  color: white;
  margin-top: 6px;
}

.info .packet.co2-highlight{
  background-color: #906C0D;
}

.info .packet.data-highlight{
  background-color: #384E50;
}

.info .packet .legend-anchor {
  position: absolute;
  right: 121px;
  top: 290px;
}

.info .packet .type,
.info .packet .time,
.info .packet .size,
.info .packet .co2 {
  max-width: 90px;
  overflow: hidden;
  font-size: 10px;
  line-height: 11px;
}

.legend {
  height: 95px;
  display: flex;
  justify-content: center;
}

.legend .co2 {
  display: flex;
  flex-direction: column;
  align-self: center;
  color: #906C0D;
  font-weight: 700;
  padding: 5px;
  text-align: center;
}

.legend .co2 img {
  height: 30px;
  width: 30px;
  padding: 1px;
}

.legend .data {
  display: flex;
  flex-direction: column;
  align-self: center;
  color: #384E50;
  font-weight: 700;
  padding: 5px;
  text-align: center;
}

.legend .data img {
  height: 24px;
  width: 24px;
  padding-left: 3px;
  transform: rotate(45deg);
}

.legend .data .caption {
  padding-top: 8px;
}

.menu .history {
  position: absolute;
  bottom: 0px;
  width: 100%;
}

.history .separator {
  border-top: dashed 1px black;
  margin-left: 21px;
  width: 30px;
  margin-top: 10px;
  margin-top: 4px;
}

.history .data-info {
  height: 50px;
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: left;
  color: #020202;
  font-weight: 700;
  padding: 2px;
  margin-left: 10px;
}

.history .tab-info {
  display: flex;
}

.history .tab-icon {
  width: 15px;
  margin-right: 5px;
  margin-top: 4px;
}

.history .tab-icon img {
  width: 15px;
  height: auto;
}

.history .tab-title {
  overflow: hidden;
  line-height: 16px;
  max-height: 16px;
  padding-top: 2px;
}

.history .packet-date, .history .packet-size {
  font-size: 9px;
  margin-left: 21px;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #262626;
  }

  dialog {
    background-color: #262626;
    color: white;
  }

  .container {
    background-color: #000;
  }

  button {
    color:white;
  }

  .icon.up svg,
  .icon.down svg {
    fill: none;
    stroke: white;
  }

  .icon.up svg .arrow,
  .icon.down svg .arrow{
    fill: white;
    stroke: white;
  }

  .icon.up:hover svg,
  .icon.down:hover svg {
    fill: none;
    stroke: #bfbfbf;
  }

  .icon.up:hover svg .arrow,
  .icon.down:hover svg .arrow{
    fill: #bfbfbf;
    stroke: #bfbfbf;
  }

  .icon.flux svg {
    fill: #b8b8b8;
  }

  .navigation-box:hover .icon.flux svg {
    fill: #555;
  }

  .navigation-box.selected .icon.flux svg {
    fill: #fff;
  }

  .icon.co2 svg,
  .icon.data svg{
    stroke: #b8b8b8;
    fill: none;
  }

  .navigation-box:hover .icon.co2 svg,
  .navigation-box:hover .icon.data svg{
    stroke: #555;
    fill: none;
  }

  .navigation-box.selected .icon.co2 svg,
  .navigation-box.selected .icon.data svg{
    stroke: #fff;
    fill: none;
  }

  .navigation-boxes {
    background-color: #070707;
  }

  .navigation-box {
    color: #b8b8b8;
  }

  .navigation-box.middle {
    border-top: solid 1px white;
    border-bottom: solid 1px white;
  }

  .navigation-box:hover {
    color: #888;
  }

  .navigation-box.selected {
    color: #fff;
  }

  .menu {
    background-color: #262626;
  }

  .menu .header {
    color: #fdfdfd;

  }

  .menu .header .header-separator {
    border-top: solid 1px white;
  }

  .menu .options .option.active{
    color: #fff;
    fill: #fff;
    stroke: #fff;
  }

  .menu .options .option.inactive{
    color: #b8b8b8;
    fill: #b8b8b8;
    stroke: #b8b8b8;
  }

  .menu .options .option:hover{
    color: #888;
    fill: #888;
    stroke: #888;
  }

  .info .packet {
    background-color: black;
    color: #ccc;
  }

  .info .packet .subheader {
    color: black;
    margin-top: 6px;
  }

  .info .packet.co2-highlight{
    background-color: #C0A96D;
  }

  .info .packet.data-highlight{
    background-color: #A0B0B1;
  }

  .info .packet {
    color: #3e3e3e;
  }

  .legend {
    background-color: black;
  }

  .legend .co2 {
    color: #c0a96d;
  }

  .legend .data {
    color: #a0b0b1;
  }

  .history .separator {
    border-top: dashed 1px white;
    margin-left: 21px;
  }

  .history .data-info {
    color: white;
  }
}

/* ANIMATIONS */
.onboarding {
  position: absolute;
  top: 0;
  left: 0;
}
body.anim-onboarding .navigation-box.up *,
body.anim-onboarding .navigation-box.down *,
body.anim-onboarding .navigation-up,
body.anim-onboarding .navigation-down,
body.anim-onboarding .unplug,
body.anim-onboarding .menu {
  display: none;
}
body:not(.anim-onboarding) .onboarding {
  display: none;
}
body:not(.anim-onboarding) .menu {
  --translate-amount:  125px;
  animation: slide-from-right 0.4s ease-in;
}
body:not(.anim-onboarding) .unplug {
  --translate-amount: 200px;
  animation: slide-from-right 0.4s ease-in;
}

@keyframes slide-from-right {
  0% {transform: translateX(var(--translate-amount))}
  100% {transform: translateX(0)}
}