body {
  background-color: white;
  margin: 0px;
  font-family: Roboto, system-ui, Arial, sans-serif !important;
}
body * {
  font-family: Roboto, system-ui, Arial, sans-serif !important;
}
body::-webkit-scrollbar {
  display: none; /* webkit: disable scrollbar */
}
#popupPage{
  height: 600px;
  width: 500px;
}
dialog {
  max-width: 350px;
  border-radius: 10px;
  border-width: 1px;
}

dialog menu {
  text-align: right;
}

.container {
  background-color: white;
  position: relative;
  width: 500px;
  height: 100vh;
  margin: 0px;
  overflow: hidden
}

canvas {
  display: block;
  margin: 0 auto;
  z-index: 0;
}

button {
  background: none;
  color:black;
  border: none;
  font-size: 12px;
  font-weight: 700;
  cursor: pointer;
}

.hidden {
  display: none !important;
}
